@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;

.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}

.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#ext_menu-e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-e .navbar-caption {
  color: #ffffff;
}
#ext_menu-e .navbar-toggler {
  color: #ffffff;
}
#ext_menu-e .close-icon::before,
#ext_menu-e .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-e .link,
#ext_menu-e .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-e .link {
  font-size: 11px;
}
#ext_menu-e .dropdown-item,
#ext_menu-e .nav-dropdown-sm .link {
  font-size: 11px;
}
#ext_menu-e .link:hover,
#ext_menu-e .dropdown-item:hover,
#ext_menu-e .link:focus,
#ext_menu-e .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-e .nav-dropdown-sm .link:focus,
#ext_menu-e .nav-dropdown-sm .link:hover,
#ext_menu-e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-e .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-e .navbar,
#ext_menu-e .nav-dropdown-sm,
#ext_menu-e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-e .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-e .bg-color.transparent.opened .link:hover,
#ext_menu-e .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
